/* reset overall CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

/* set background color for whole website */
body {
    background-color: #d9dcd6;
}

/* Sets font family and background color for the top banner/navbar and adds padding */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

/* Increases the font size of the company name in the banner and makes it display inline-block */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* changes the font color of the letters 'seo' in the banner */
.seo { 
    color: #d9dcd6;
}

/* sets the font for the navbar in the banner, floats it to the right side of the header and adds margin/padding */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes bullets from navbar list items */
nav ul {
    list-style-type: none;
}

/* makes list items display in a row and adds left margin  */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* removes underlines on the navbar links */
a {
    text-decoration: none;
}

/* sets font size of the p tags throughout the page */
p {
    font-size: 16px;
}

/* sets the height of the div container to 800px and the width to fill the page. */
/* Links an image to be the background, makes the image fill the div container and centers it */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* floats elements with this class to the left and adds right margin */
.float-left {
    float: left;
    margin-right: 25px;
}

/* floats elements with this class to the right and adds left margin */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets the main 3 content sections of the page to fill 75% of the body, display in a column and add left margin */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sets the sidebar container to fill 20% of the body width, 100% of the body height, floats it to the right */
/* sets the font, background color and adds margin and padding */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* this adds bottom margin to the sections in the sidebar */
.benefit-lead {
    margin-bottom: 32px;
}

/* centers the headings of the sections in the sidebar and add bottom margin */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* set the images in the sidebar to have a max-width of 150px, display in block and sets top/bottom margin to 10px
    and the left/right margins to auto */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets the main sections font and background color, adds margin and padding, and sets the height to 300px */
.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

/* sets the images in the main sections to a max-height of 200px */
.main-content img {
    max-height: 200px;
}

/* sets the font size of the headings in the main sections and adds bottom margin */
.main-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets the footer font, centers it and adds padding */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* makes the heading in the footer larger */
footer h2 {
    font-size: 20px;
}

/* makes font in the footer black */
.black {
    color: black;
}
